{{#page "index"}}
<p class="meta">Select an Article:</p>
<select class="select-article" aria-label="Select an Article"></select>
<div class="row">
  <div>
    <h1>Original NY Times Article Transcription</h1>
    <p></p>
  </div>
  <div>
    <h1>Processed With My Program</h1>
    <p>
      <span></span>
      <span>
        <input type="checkbox" id="highlight" checked />
        <label for="highlight">Highlight Fixes</label>
      </span>
    </p>
  </div>
</div>
<div class="text-box highlighted">
  <div class="paragraphs"></div>
</div>
<p class="citation">
  Content from six famous articles from <a rel="noreferrer noopener" href="https://www.nytimes.com/" target="_blank">The New York Times</a> used under
  <a rel="noreferrer noopener" href="https://www.copyright.gov/title17/92chap1.html#107" target="_blank">Fair Use</a> for noncommercial purposes of education and
  research.
</p>
{{/page}}
