.main {
  overflow-y: auto;
}

.container {
  align-items: flex-start;
}
@media only screen and (max-width: 1250px) {
  .container {
    padding: 0 0.75rem;
  }
}
.container img {
  max-width: 100%;
}

.container h1 {
  width: 100%;
  text-align: center !important;
  font-size: 2rem;
}
.container p {
  line-height: 1.5;
  font-size: 1rem;
  font-family: 'Georgia', 'Times New Roman', Times, serif;
}
.container * {
  margin-bottom: 1.5rem;
}
.container *:first-child {
  margin-top: 2rem;
}

.container a {
  color: #28f !important;
}
.container a:hover,
.container a:focus,
.container a:active {
  color: #25f !important;
  text-decoration: underline;
}
